<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--创建目标对象-->
    <bean id="myServiceImp" class="com.yp.spring.aspectj.demo02.objective.imp.ServiceImp"/>
    <bean id="myServiceImp02" class="com.yp.spring.aspectj.demo02.objective.imp.ServiceImp2"/>
    <!--创建切面对象-->
    <bean id="myAspect" class="com.yp.spring.aspectj.demo02.aspect.MyAspect"/>

    <!--切面扫描器-->
    <aop:aspectj-autoproxy/>

</beans>